notas
*.exe
*.o
include/*hpp.gch
logs/*
.vscode/*
nohup.out
rsa_key
rsa_key.pub
DatosCSV/*
*.csv
*.stackdump
nbproject/configurations.xml
nbproject/private/c_standard_headers_indexer.c
nbproject/private/CodeAssistancePathMapper.properties
nbproject/private/configurations.xml
nbproject/private/cpp_standard_headers_indexer.cpp
nbproject/private/Default-build.log
nbproject/private/Default-exec.log
nbproject/private/Default.properties
nbproject/private/launcher.properties
nbproject/private/private.xml
