1000        //epoch number recomendado: 1000 o 500
0           //initial solution / 0:random / 1:pseudo-random(probabilistic) / 2:greedy 
102          //mu / parents size recomendado: 100
102          //lambda / offspring size recomendado: 100
0           //parent selection / 0:torneo / 1:proporcional / 2:Stochastic Universal Sample (SUS) 
1  0        //new population selection / 0:torneo / 1:proporcional 
0  0.65      //crossover operator and its probability / 0:OX / 1:PMX / 2:CX recomendado: probabilidad = 0.65
0  0.1      //mutation operator and its probability / 0:invert / 1:insert / 2:scramble //mainSecuencial siempre usa opcion 0
10          //intervalo_migraciones Intervalo de migracion (debe ser menor que la cantidad de epocas)
20          //cantidad_inmigrantes cantidad de inmigrantes 
0.25        //probabilidad_quedarse_con_imigrante_malo probabilidad de que un inmigrante malo remplace a un nativo
./FSSPinstances/tai_500_20_5.txt    //FSSP_instance